:root {
	// default values
	--border: none;
	--transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);

	// lists
	--listIndent: 2.5em;
	--listItemSpacing: 0.3em;

	// conditions
	--true: initial;
	--false: "";
	--has-background: var(--true);
	--has-link-decoration: var(--true);
	--has-transparent-header: 0;

	// container width
	@include media-breakpoint-down(sm) {
		--container-width: 88vw;
	}

	@include media-breakpoint-up(md) {
		--container-width: 90vw;
	}

	--full-width: calc(100vw - (var(--frame-size, 0px) * 2));
	--full-width-alignment: calc(50% - (50vw - var(--frame-size, 0px)));
}